h2 {
  text-align: center;
}

.showCase {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  margin: 0 auto;
  border: 1px solid gray;
  box-shadow: 0 0 30px rgba(100, 206, 241, 0.5);
}

.showCaseDescription {
  font-size: 13px;
  padding: 0 100px 0 0;
}

.editIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.addShowcase {
<<<<<<< HEAD
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px 20px;
  background-color: #38db81;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
=======
    position: absolute;
    right: 10px; 
    bottom: 10px; 
    padding: 10px 20px;
    background-color: #38db81;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
>>>>>>> b44feff (Implement the navbar and chage the button to add a new showcase)
