.container {
  width: 100%;
}

.vitrine-container {
  position: relative;
  margin-bottom: 40px;
}

.content {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
  border: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.product {
  border: none;
  padding: 10px;
  margin: 10px;
  min-width: 200px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating p {
  margin-left: 3px;
}

img {
  width: 210px;
  height: 210px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}